includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    # phpstan-phpunit causes ClassCoversExistsRule error in PHPStan 1.12
    # - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 5
    paths:
        - src/php
    excludePaths:
        - src/php/vendor
    ignoreErrors:
        - '#^Function .* not found#'
        - '#^Access to an undefined property#'
        - '#^Class .* not found in .*#'
        - '#^Service of type PHPStan\\Rules\\PHPUnit\\ClassCoversExistsRule#'
    treatPhpDocTypesAsCertain: false